@media screen and (min-width:768px) {
.container {
    max-width: 766px;
    }
.header {
    padding-top: 0;
    padding-bottom: 0;
    }
.main-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    }
.nav-header { 
    display: flex;
    align-items: center;
    }
.nav-header .logo {
    padding-bottom: 22px;
    }
.site-nav {
    display: flex;
    margin-left: 120px;
    }
.site-nav .nav-list:not(:last-child) {
    margin-right: 40px;
    }
.site-nav .nav-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-second-text);
    font-weight: 500; 
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;  
    transition: color var(--hover-transition);    
}
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
    color: var(--color-hover);
}
.nav-link.current {
    position: relative;
    color: var(--color-hover);
}

.address {
    display: flex;
    font-style: normal;
    font-size: 12px;
    line-height: calc(14px / 12px);
    letter-spacing: 0.04em; 
    color: var(--color-main-text); 
}
.site-auth {
    display: block; 
}
.letter {
    color: var(--color-main-text);   
}
.mobile-menu-open {
    display: none;
}
.letter {
    display: block;
    padding-top:  24px; ;
    transition: color  var(--hover-transition);
    
}
.site-auth .letter:hover,
.site-auth .letter:focus {
    color: var(--color-hover);
}
.phone {
    color: var(--color-main-text);
    display: block;
    padding-bottom: 12px;
    margin-top: 6px;
    transition: color var(--hover-transition);
}
.site-auth .phone:hover,
.site-auth .phone:focus {
    color: var(--color-hover);
}
.current::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: var(--color-hover);
    transition: color var(--hover-transition);
}
.section-hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url('../images/Dark-bg-table.jpg');
}
.section-title {
    color: var(--background-white-color);
    width: 496px;
    margin-bottom: 40px;
    font-size: 56px;
    line-height: 1.1;
}
.modal {
    padding-top: 72px ;
    padding-left: 24px;
    padding-right: 24px;
    width: 408px;
    min-height: 586px;
}
.modal-input {
    padding-left: 38px;
}
.component-title {
    display: flex;  
    flex-direction: row; 
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px; 
}
.component-title .team-list {
    width: calc((100% - 24px) / 2);
    margin-bottom: 0;
}
.components-item {
    text-align:left;
}
.section-staff-block {
    padding-bottom: 104px;
}
.section-list-staff {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
}
.section-staff:not(:last-child) {
    margin-bottom: 0; 
}
.card-list {
    text-align: center;
    padding: 32px 16px; 
}
.section-mob-staff {
    width: 552px;
    margin-left: auto;
    margin-right: auto;
    }
.container-tablet{
    max-width: 552px;
    margin-left: auto;
    margin-right: auto;
}
.customers-logo {
    column-gap: 24px;
    }
.customers-item {
    width: 168px;
    }
.footer-section {
    max-width: 552px;
    padding-left: 0;
    padding-right: 0;
}
.footer-input {
        width: 264px ;
    }
.footer-section-up {
    display: flex;
    justify-content:flex-start;
    gap: 24px;
    margin-bottom: 72px;
}
.footer-content {
    width: 264px;
    height: 110px;
    text-align:left;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.footer-contact {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.footer-blok {
    flex-direction: row;
    gap: 24px;
}
.footer-subscribe-title {
    text-align: left;
}
.footer-section-down {
    display: flex;
    justify-content:flex-start;
}
.section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
}
.button-list {
    flex-wrap: nowrap;
    justify-content:center;
    margin-bottom: 64px;
 }
 .button-list .second-button:not(:last-child) {
    margin-right: 24px;
}
.section-site {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: auto;  
}
.section-site .item:not(:last-child) {
    margin-bottom: 0;
}
.item {
    flex-basis: calc((100% - 24px) / 2);  
}
    
}
@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
.section-hero{
background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7),
rgba(46, 47, 66, 0.7)), url('../images/Dark-bg-tabl-2x.jpg');
}
}